* {
  margin: 0;
  padding: 0;
}
.header {
  float: left;
  border: 2px solid red;
  width: 100%;
  height: 10%;
}
.headlines {
  float: left;
  text-align: center;
  border: 2px solid green;
  width: 100%;
  height: 50%;
}
